.row{
    justify-content: center;

}

.btn.btn-primary{
    margin-top: 160px;
    background-color: #faa93d;
    border-color: #F5A43B;
    color: ffff;
    -webkit-box-shadow: 6px 6px 10px 0px rgba(50, 50, 50, 0.36);
    -moz-box-shadow:    6px 6px 10px 0px rgba(50, 50, 50, 0.36);
    box-shadow:         6px 6px 10px 0px rgba(50, 50, 50, 0.36);

}

.form-select{
    -webkit-box-shadow: 6px 6px 10px 0px rgba(50, 50, 50, 0.36);
    -moz-box-shadow:    6px 6px 10px 0px rgba(50, 50, 50, 0.36);
    box-shadow:         6px 6px 10px 0px rgba(50, 50, 50, 0.36);
}
